__pycache__/
*.py[cod]
venv/
.env/
.venv/
env/
env.bak/
venv.bak/
*.egg-info/
*.eggs/
dist/
build/
.coverage
*.coveragerc
*.hypothesis/
.tox/
nosetests.xml
coverage.xml
.vscode/
.idea/
.ipynb_checkpoints/
.idea/
.DS_Store
Thumbs.db
*.log
*.bak
*.swp
